@media print
   {
    @page {
        size: A4;
    }
    body {
       //font-size: 11pt;
    }

    img.avatar {
        filter: grayscale(1);
    }
  .hideOnPrinting {
    display: none;
  }
  .main-wrapper {
    padding: 10px;
  }
    .sidebar-wrapper {
      -webkit-print-color-adjust: exact;
      .container-block {
        padding: 10px;
      }
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }

}
